<!DOCTYPE html>
<html>

<head>
    <title>BogAppThree</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">

</head>

<body>
    <div class="header">
        <a href="/">
            <h1>Bog App </h1>
        </a>
        <span class="add-link">
            <%= link_to ' + New Creature', new_creature_path, :class => "add-link"%>
        </span>
    </div>


    <div class="container">
        <div class="row">
            <div>
                <%= yield %>
            </div>
        </div>
    </div>
</body>

</html>